# Environments
venv/
env/
__pycache__/
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# Secrets
.env

# Data Files (Hosted on Hugging Face instead)
data/
*.parquet
*.index
*.csv
*.json
*.jsonl

# Testing & Scratchpad Files
app_v1.py
app_v2.py
comparison.py
single_product_analysis.py